<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/shangjia.css" />
	
</head>
<body>
	<div class="fan-head">
		<div class="fan-left">
			<span>
	        <a href="#">首页</a>/
	    </span>
			<span>
	        <a href="#">设置</a>/
	    </span>
			<span>
	        管理员信息
	    </span>
		</div>
		<div class="fan-right">
			<img class="ying" src="./img/logo.jpg" alt="">
			<ul class="xianshi">
				<li>
					<a href="">首页</a>
				</li>
				<li>
					<a href="" id="tui" >退出</a>
				</li>
			</ul>
		</div>
	</div>
	<script src="../js/jquery-1.9.1.js"></script>
	<script>
		$.ajax({
			url:"https://elm.cangdu.org/admin/info",
			type:"get",
			dataType:"json",
			success:function(data){
					console.log(data);
					},
			})
	</script>
</body>
</html>